body {
    max-width: 900px;
    margin: auto;
    font-size: 1.9em;
    text-align: center;
}

.win {
    color: green;
}
.lose { 
    color: red;
}
.draw {
    color: blue;
    text-align: center;
}

.container {
    max-width: 650px;
    margin: auto;
}

#reset-button {
    display: none;
}